body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
  color: #333;
}

header {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.topnav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
  text-align: center;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;


}
.nav-links a {
  color: white;                
  text-decoration: none;
  padding: 15px;
  transition: color 0.6s;
}

.nav-links a:hover {
  color: #e91e63;              
  text-decoration: underline; 
}

.nav-links a:visited { 
	color: #e91e63;
}

.subtitle {
  font-size: 25px;
  color: #aaa;
}

section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #333;
  margin-bottom: 15px;
}

.case-studies .case, .research-block {
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  border-left: 5px solid #e91e63cc;
}

.symptom-list li {
  padding: 5px 0;
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px;


}
